<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <% User.find(message.user_id).name ? name = User.find(message.user_id).name : name = "Unknown Cat"  %>
    <span><%= User.find(message.user_id) == current_user ? "me" : name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
