// Define variables for your color scheme

// For example:
$red: rgb(246, 62, 62);
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pale-red: rgb(255, 207, 207);
$pale-gray: #7B7B7B;
$creme: #F1EDE4;
$dark-creme: #eae5d9;
$whitish: #f9f6f0;
$purple: #B391EF;
$pink: #FFBCD9;
