<%= form_for @user, class: 'edit_owner', html: { data: { edit_owner_target: 'form' } } do |f| %>
  <p data-action="click->edit-owner#displayNameField">
    <b>Name: <%= f.text_field :owner_name, 'data-edit-owner-target': 'ownerName', class: 'not-focused', 'data-action': 'blur->edit-owner#update' %></b>
  </p>
  <p data-action="click->edit-owner#displayDescriptionField">
    <b>Description: <%= f.text_area :description, size: '40x10', 'data-edit-owner-target': 'ownerDescription', class: 'not-focused', 'data-action': 'blur->edit-owner#update' %></b>
  </p>
<% end %>
