<div style="background-image: url('<%= image_url 'Salmon.png' %>'); background-size: cover; background-repeat: no-repeat; height: 600px; width: 600px; text-align: center; position: relative;">

  <div style="display: block; font-family:verdana; position: absolute; top: 160px; left: 90px;">
    <h3 style="font-family: 'Comforter', cursive; font-size:30px; color: hotpink; font-weight: bolder; text-shadow: 1px 1px 5px rgb(255, 207, 207);">Dear Purrfect Match user</h3>
    <b><p>Thank you for your interest in spreading love!</p></b>
    <p>Our community counts <b><%= @counted_users %></b> new users!</p>
    <p>Visit our website to find out more!</p>
    <a href="https://purrfectcatmatch.herokuapp.com/">PurrfectMatch.online</a>
  </div>

  <div style="float: right;">
    <%= image_tag "purrfectmatch-logowhite.png", width: 200 %>
  </div>
</div>

<style>
  body, html {
    margin: 0 auto;
    padding: 0;
  }

  body {
    height: 100vh;
  }

  a {
    text-decoration: none;
    color: #F479A5;
  }

  a:hover {
    text-decoration: none;
    color: #F4568F;
  }

</style>
