.chats-header {
  color: $pale-red;
  font-weight: bolder;
  box-shadow: 1px ;
}

.chats-paragraph {
  font-weight: bold;
  color: $pale-gray;
}

.card-product-infos {
  text-decoration: none;
  color: black;
}

.chats a:hover {
  text-decoration: none;
  color: black;
}

.msgs-index {
  height: 75vh;
  overflow-y: auto;
}

.msgs-container {
  background-image: image-url("cats-bg.png");
}
