.sbt-msg {
  display: flex;
  justify-content: center;
}

.msg-input{
  width: 700px !important;
  height: 40px !important;
  margin-left: 16px;
  margin-right:16px;
}

.msg-submit{
  background-color: #FF9E9E !important;
  color:white;
  height: 20%;
  width: 10%;
}

.msg-show {
  max-width: 800px;
  margin: auto;
}

.chat-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
