.sbt-msg {
  display: flex;
  justify-content: center;
}

.msg-input{
  width: 700px !important;
  height: 40px !important;
  margin-left: 16px;
  margin-right:16px;
}

.msg-submit{
  background-color: #FF9E9E !important;
  color:white;
  height: 20%;
  width: 10%;
}

.chats-top {
  align-items: center;
  height: fit-content;
  img {
    height: 90px;
    width: auto;
    margin: 5px;
  }
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 88px;
  background-color: white;
  z-index: 9;
}

.msg-fix {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  background-color: white;
  margin-top: 5px;
  padding: 1em;
}

.chats {
  .active {
    background: $pale-red !important;
  }
}
