#heading-one{
  color: #AA336A;
  font-family: 'Comforter', cursive;
  font-size: 64px;
  padding: 16px;
  text-align: center;
}

.sbt-msg {
  display: flex;
  justify-content: center;
}

.msg-bg-pink{
  background-color: rgb(255, 172, 172) !important;
}

.container-1{
  background-color: rgb(255, 172, 172) !important;
  max-width: 900px;
  margin: auto;
}


.msg-input{
  width: 700px !important;
  height: 40px !important;
  margin-left: 16px;
  margin-right:16px;
}

.msg-submit{
  background-color: #FF9E9E !important;
  color:white;
  height: 20%;
  width: 10%;
}
