.background {
  background-color: rgb(255, 162, 162);
}

.chats-header {
  text-align: center;
}

.chats-paragraph {
  text-align: center;
  padding-top: 10px;
  background-color: rgb(255, 162, 162);
  margin: 0;
  border-radius: 24px;
  border: 4px;
}

.no-chats {
  background-color: rgb(255, 172, 172);
  padding-bottom: 32%;
}
