body {
  background-color: $creme;
}

.container {
  background-color: white;
}

.form-row {
  margin-top: 32px;
}

#heart {
  margin-top: 32px;
  margin-left: 16px;
  text-align: center;
  color: $pale-red;
  font-weight: lighter;
  font-size: 48px;
  z-index: 8;
}

#heart .fa-heart {
  transition: font-size 0.5s ease-out;
}

#heart .fa-heart:hover {
  color: $red;
  font-size: 72px;
}

.avatar-container {
  margin: 0 auto;
  width: fit-content;
}

.avatar {
  z-index: 7;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border-width: 1px;
  background-color: $pale-red;
  margin: auto;
  overflow: hidden;
}

.avatar_pic {
  border-radius: 50%;
  margin-top: -17px;
  margin-left: -32px;
}

#user_avatar {
  display: none;
}

.fa-cat {
  margin: 0 -4px 48px;
  font-size: 88px;
  cursor: pointer;
  padding-top: 16px;
}

.fa-cat:hover {
  color: $pale-gray;
}

.avatar-container {
  margin-top: -100px;
}

.not-focused {
  border-color: rgba(255, 255, 255, 0);
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.information {
  margin-bottom: 48px;
  padding: 32px;
  p {
    font-size: 12px;
  }
}

.edit_user {
  margin: 16px 32px 48px 32px;
}

.edit_owner {
  text-align: right;
}

.edit_user {
input, textarea {
  width: 100%;
  }
}

#user_photos {
  display: none;
}

.fa-images {
  font-size: 56px;
  color: $pale-gray;
}

.fa-images:hover {
  color: black;
}

.photo-buttons {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  i {
    font-size: 750%;
    cursor: pointer;
    color: $pale-gray;
  }
}

#user_breed, #user_gender {
  border: 1px solid;
  border-color: $creme;
  padding: 8px;
}

.pic-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.pic-card {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 200px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .pic-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

.hide-btn {
  visibility: hidden;
}
