.form-row {
  margin-top: 32px;
}

.information {
  padding-bottom: 38px;
  margin-top: -48px;
  margin: -48px 32px 32px 24px;
  z-index: 8;
  .forms-edit {
    p {
      font-size: 18px;
      color: $pink;
      margin: 4px 0 16px 0;
    }
  }
}

.avatar.edit_avatar {
  z-index: 7;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border-width: 1px;
  background-color: $pale-red;
  margin: 0 auto;
  transition: all 0.4s ease-in;
}

.avatar.edit_avatar:hover {
  box-shadow: 5px 5px 8px $dark-creme;
  transition: all 0.4s ease-out;
  height: 170px;
  width: 170px;
}

.avatar_pic {
  border-radius: 50%;
  margin-top: -16px;
  margin-left: -32px;
  transition: all 0.4s ease-in;
}

.avatar_pic:hover {
  height: 170px;
  width: 170px;
  transition: all 0.4s ease-out;
}

#user_avatar {
  display: none;
}

.fa-cat {
  margin: 0 -4px 48px;
  font-size: 88px;
  cursor: pointer;
  padding-top: 16px;
}

.fa-cat:hover {
  color: $pale-gray;
}

.avatar-container {
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.not-focused {
  border-color: rgba(255, 255, 255, 0);
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  z-index: -1;
}

.edit_user {
  width: 70%;
  margin: 16px 0 0 32px;
}

.edit_owner {
  width: 70%;
  text-align: center;
}

.edit_user {
input, textarea {
  width: 100%;
  }
}

#user_photos {
  display: none;
}

.fa-images {
  font-size: 56px;
  color: $pale-gray;
}

.fa-images:hover {
  color: black;
}

.photo-buttons {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  i {
    font-size: 500%;
    cursor: pointer;
    color: $pale-gray;
  }
}

#user_breed, #user_gender {
  border: 1px solid;
  border-color: $creme;
  padding: 8px;
}

.pic-cards {
  margin: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.pic-card {
  height: 120px;
  width: 180px;
  display: flex;
  margin: 12px auto;
  align-items: center;
  justify-content: center;
  border: 1px solid $creme;
  img {
    width: auto;
    height: 100%;
  }
}

.fa-plus {
  margin-right: 32px;
  margin-left: -6px;
}

.hide-btn {
  visibility: hidden;
}

.button_box {
  display: block;
  text-align: center;
  margin-top: 32px;
}


#plus_button {
  font-family: 'Comforter', cursive;
  font-weight: bold;
  font-size: 48px;
  color: $dark-pink;
}

.cat-info-form, .owner-info-form {
  background-color: white;
  width: 49%;
  box-shadow: 0px 0px 10px $creme;
  margin-top: 32px;
  margin-bottom: 24px;
  max-width: 40vw;
}

.cat-info-form {
  padding: 64px 0 0 38px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  transition: all 0.4s ease-out;
}

.cat-info-form:hover {
  box-shadow: -1em 1em .4em $creme;
  transition: all 0.4s ease-in;
}

.owner-info-form {
  padding: 64px 0 0 38px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  transition: all 0.6s ease-out;
}

.owner-info-form:hover {
  box-shadow: 1em 1em .4em $creme;
  transition: all 0.6s ease-in;
}

.avatar .edit_user {
  margin: 16px 32px 48px 32px;
}

.info_card {
  display: flex;
  justify-content: center;
}

.msg-fix {
  width: 75%;
}

@media (min-width: 992px) {
  .pic-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

@media (max-width: 988px) {
  .info_card {
    display: block;
    .cat-info-form {
      width: 90%;
      max-width: 90vw;
      padding: 24px 16px 24px 16px;
      margin: 28px auto;
    }
    .owner-info-form {
      width: 90%;
      max-width: 90vw;
      padding: 24px 16px 24px 16px;
      margin: 28px auto;
    }
  }
}
