// Specific CSS for your home-page
body {
  background-color: white !important;
}

.bg-white{
  background-color: white;
}

.bg {
  background-image: image-url("banner.png");
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.centered-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:200px;
  padding: 8px;
  margin: 4px;
}

.centered-btn:hover {
  font-weight: bolder;
}

.centered-btn button {
  color:white;
  font-family: 'Signika Negative', sans-serif;
  background-color: white !important;
  color: $pink !important;
}

#banner {
  background-color: white;
}

.cntr {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#info {
  background-color: #ffbcd9;
}

#info .container {
  background-color: #ffbcd9;
}

.rounded-img {
  border-radius: 50%;
}

.info-board{
  font-size: 16px;
}

.board-items {
  display: flex;
  justify-content: center;

}

.contact-clean{
  max-width: 600px;
  margin: 48px auto;
}

.submit_button {
  border-color: $pink;
  color: $pink;
  font-weight: bolder;
}

.submit_button:hover {
  color: white;
  font-weight: bolder;
  border-color: $pink;
  background-color: $pink;
}

.submit_button:focus {
  outline: 0 !important;
}

@media only screen and (max-width: 600px) {
  .main-img {
    width: 100%
  }

  .centered-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:200px;
  padding: 8px;
  margin: 4px;
}

.rounded-img {
  display: none;
}};


.btn-beg {
  display: inline-block;
  color:pink;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid pink;
  opacity: 0;
  animation: btn-beg;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

.btn-beg:hover{
  background:pink;
  text-decoration: none;
  color:white
}


@keyframes btn-beg {
  0% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

// #content {
//   position: relative;
//   animation-name: content;
//   animation-duration: 5s;
//   font-variant-east-asian: forwards;
// }

// @keyframes content {
//   0% {
//     left:-500px;
//   }
//   100%{
//     left:0px;
//   }
// }
