// Specific CSS for your home-page
body {
  background-color: white;
}

.main-img{
  width: 100%;
}
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.centered {
  font-family: 'Comforter', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:80px;
  color:white;
  padding:16px;
}

.centered-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:200px;
  padding: 8px;
  margin: 4px;
}

.centered-btn button {
  color:white;
  font-family: 'Signika Negative', sans-serif;
}

#banner {
  background-color: white;
}

.cntr {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#info {
  background-color: #ffbcd9;
}

.rounded-img {
  border-radius: 50%;
}

.info-board{
  font-size: 16px;
}

.board-items {
  display: flex;
  justify-content: space-between;
}

.contact-clean{
  max-width: 700px;
  margin: auto;
}


@media only screen and (max-width: 600px) {
  .main-img {
    width: 100%
  }

  .centered-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:200px;
  padding: 8px;
  margin: 4px;
}

.rounded-img {
  display: none;
}
};
