#heart {
  margin-top: 32px;
  margin-left: 16px;
  text-align: center;
  color: $pale-red;
  font-weight: lighter;
  font-size: 48px;
  cursor: pointer;
  z-index: 8;
}

.fa-heart {
  transition: font-size 0.5s ease-out;
}

.fa-cat {
  margin: 0 -4px 48px;
  font-size: 88px;
  padding-top: 16px;
}

.cat-icon {
  margin-left: 26px;
  margin-top: 16px;
}

.avatar-container {
  margin: 0 auto;
  width: fit-content;
}

.avatar {
  z-index: 7;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border-width: 1px;
  background-color: $pale-red;
  margin: auto;
  overflow: hidden;
}

.avatar_pic_show {
  border-radius: 50%;
}

#user_avatar {
  display: none;
}

.avatar-container {
  margin-top: -100px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.information {
  margin-bottom: 48px;
  padding: 32px;
  p {
    font-size: 12px;
  }
}

.edit_user {
  margin: 16px 32px 48px 32px;
}

.edit_owner {
  text-align: right;
}

.edit_user {
input, textarea {
  width: 100%;
  }
}

#user_photos {
  display: none;
}

.add_photos {
  border-width: 1px;
  border-style: solid;
  border-color: $pale-gray;
  background-color: $creme;
  padding: 4px;
}

.add_photos:hover {
  background-color: $dark-creme;
}

.fa-images {
  font-size: 56px;
  color: $pale-gray;
}

.photos-buttons {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.info-show {
  margin-top: 32px;
}
