
  <div class="user-cards">
    <% @users.each do |user| %>
      <div class="card mb-2">
        <div class="card-block p-3">
          <div class="users-photo">
            <% if user.avatar.key.present? %>
              <%= cl_image_tag user.avatar.key, class:"index-image", crop: :fill, gravity: 'auto' %>
            <% else %>
            <%= image_tag("no-photo.jpg", class:"index-image") %>
            <% end %>
          </div>
          <% if user.name.present? %>
            <strong><p class="card-title"><%= user.name %></p></strong>
          <% else %>
            <strong><p class="card-title">No name cat</p></strong>
          <% end %>
          <%= link_to 'Check out this Cat!', user, class: "btn cat-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
