
  <div class="flat-cards">
    <% @users.each do |user| %>
      <div class="card mb-2">
        <div class="card-block p-3">
          <div class="flats-photo">
            <% if user.avatar.key.present? %>
              <%= cl_image_tag flat.avatar.key, class:"card-img-top index-image" %>
            <% else %>
            <%= image_tag("no-pic-cat.png", class:"card-img-top my_flat_image index-image") %>
            <% end %>
          </div>
          <strong><p class="card-title"><%= user.name %></p></strong>
          <%= link_to 'Check out this Cat!', user, class: "btn cat-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
