<div class="footer">
  <%= image_tag "PurrfectMatch-logo.jpg" %>
  <div class="d-flex justify-content-between">
    <div class="col-4">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
    <div class="d-flex justify-content-around col-8">
      <div id="foot-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
      </div>
      <div>
        <p>Le Wagon Amsterdam</p>
        <p>Ijsbaanpad 9, 1076 CV</p>
        <p>Amsterdam, Netherlands</p>
      </div>
    </div>
  </div>
</div>
