<div class="footer">
  <div>
    <%= image_tag "PurrfectMatch-logo.jpg" %>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
  <div class="d-flex justify-content-between">
    <div id="foot-links">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact us</a>
    </div>
    <div>
      <p>Le Wagon Amsterdam</p>
      <p>Ijsbaanpad 9, 1076 CV, Amsterdam</p>
      <p>Netherlands</p>
    </div>
    <div>
      <ul>
        <li><p>Subscribe!</p></li>
        <form action="#" class="d-flex">
          <input class="form-control form-control-lg" type="text" placeholder="email" aria-label=".form-control-lg example">
          <button type="submit" class="btn btn-light mx-1">Subscribe</button>
        </form>
      </ul>
    </div>
  </div>
</div>
