<div class="footer d-flex justify-content-between">
  <div>
    <%= image_tag "PurrfectMatch-logo.jpg" %>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
  <div>
    <ul id="foot-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><p>Le Wagon Amsterdam</p></li>
      <li><p>Ijsbaanpad 9, 1076 CV</p></li>
      <li><p>Amsterdam</p></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><p>Subscribe!</p></li>
      <form action="#" class="d-flex">
        <input class="form-control form-control-lg" type="text" placeholder="email" aria-label=".form-control-lg example">
        <button type="submit" class="btn btn-light mx-1">Subscribe</button>
      </form>
    </ul>
  </div>
</div>
