<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p><span id="banner-typed-text"></span></p>
        <button class="btn btn-primary">Lets Begin</button>
      </div>
      <div class="col-sm">
        <%= image_tag "cat-love.jpg", width: 900 %>
      </div>
    </div>
  </div>
</section>
