.card-product {
  overflow: hidden;
  height: 120px;
  background: rgb(252, 231, 231);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 13px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn-a {
  border: none;
  background-color: green;
  color: white;
  border-radius: 13px;
  margin-right: 1em;
}

.btn-d {
  border: none;
  background-color: red;
  color: white;
  border-radius: 13px;
}
