.users-photo {
  margin-bottom: 16px;
  overflow: hidden;
}

.cat-button {
  width: 100%;
  color: $pink;
  font-weight: bolder;
  font-size: 0.8em;
  background-color: white;
  border: solid 1px $purple;
}

.cat-button:hover {
  width: 100%;
  background-color: $purple;
  color: white;
  font-weight: bolder;
}

.card-block.p-3 {
  transition: all 0.2s ease-in;
  height: 30vw;
  p {
    font-size: 16px;
  }
}

.card.mb-2 {
  box-shadow: 10px 5px 5px $creme ;
  margin: 0 16px 0 16px;
}

.index-image {
  height: 15vw;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s ease-in;
}

.user-cards {
  margin: 56px 48px 56px 48px;
}

@media only screen and (min-width: 200px) {
  .index-image {
    height: 40vw;
  }
  .card-block.p-3 {
    height: 62vw;
  }
}

@media only screen and (min-width: 600px) {
  .index-image {
    height: 40vw;
  }
  .card-block.p-3 {
   height: 60vw;
  }
  .users-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .user-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .index-image {
    height: 12vw;
  }
  .card-block.p-3 {
    height: 30vw;
  }
  .users-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .user-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .index-image {
    height: 17vw;
  }
  .card-block.p-3 {
    height: 32vw;
  }
}

@media only screen and (min-width: 1000px) {
  .card-block.p-3 {
    height: 30vw;
  }
}

@media only screen and (min-width: 1000px) {
  .card-block.p-3 {
    height: 28vw;
  }
}
