.users-photo {
  margin-bottom: 16px;
  overflow: hidden;
}

.cat-button {
  width: 100%;
  color: $pink;
  font-weight: bolder;
  font-size: 0.8em;
  background-color: white;
  border: solid 1px $purple;
}

.cat-button:hover {
  width: 100%;
  background-color: $purple;
  color: white;
  font-weight: bolder;
}

.card-block.p-3 {
  transition: all 0.2s ease-in;
  height: 30vw;
  p {
    font-size: 16px;
  }
}

.card.mb-2 {
  box-shadow: 1px 1px 3px rgb(254, 168, 168);
  margin: 0 16px 0 16px;
  border-radius: 13px;
  background-color: rgb(255, 240, 240);
  border: none;
}

.index-image {
  height: 15vw;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s ease-in;
}

.user-cards {
  margin: 56px 48px 56px 48px;
}

@media only screen and (min-width: 600px) {
  .users-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .user-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .users-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .user-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.fa-map-pin {
  color: red;
}

.index-card-info {
  width: 100%;
  i {
    margin-left: 10px;
    font-size: large;
  }
  .fa-mars {
    color: rgb(92, 182, 255);

  }
  .fa-venus {
    color: rgb(255, 98, 234);
  }
  .fa-birthday-cake {
    color: rgb(227, 178, 0);
  }
}

.link-card {
  text-decoration: none;
  color: black;
}

.link-card:hover {
  text-decoration: none;
  color: black;
  .card.mb-2 {
    box-shadow: 1px 3px 7px rgb(254, 168, 168);
  }
}

.card-block.p-3 {
  height: fit-content;
}
