.footer {
  background-color: black;
  padding: 2em;
  color: white;
  img {
    width: 300px;
  }
  a {
    color: white;
    font-size: large;
    padding-left: 2em;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  display: grid;
  grid-template-columns: 1fr;
}

#foot-links{
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}
