.footer {
  background-color: black;
  padding: 3em;
  color: white;
  img {
    width: 300px;
  }
  a {
    color: white;
    font-size: large;
    padding-left: 2em;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  display: grid;
  grid-template-columns: 1fr;
}

#foot-links li {
  margin-bottom: 0.5em;
}

@media (min-width: 992px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
