.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding: 0em 3em 0em 3em;
  box-shadow: 1px 2px 5px rgba(0,0,0,.5);
  a {
    color: white;
    font-size: 2.5em;
  }
  .dropdown-menu a {
    color: gray;
    font-size: large;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60%;
  margin-left: 1em;
}

.nav-item {
  margin: 0em 1em 0em 1em;
}

.search-icon {
  margin-top: 16px;
  margin-left: 16px;
  font-size: 36px;
  color: white;
}
