.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding: 0em 3em 0em 3em;
  box-shadow: 1px 2px 5px rgba(0,0,0,.5);
  height: 70px;
  a {
    color: white;
    margin-top: 16px;
    font-size: 30px;
  }
  .dropdown-menu a {
    color: gray;
    font-size: large;
  }
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 1em;
  position: absolute;
  height: 100%;
  top: 0px;
}

.nav-item {
  margin: 0em 1em 0em 1em;
}

.search-icon {
  margin-top: 16px;
  margin-left: 16px;
  font-size: 30px;
  color: white;
}

.dropdown-click:focus {
  background-color: inherit;
}

.fa-envelope {
  position: relative;
}

.fa-circle{
  position: absolute;
  color: red;
  font-size: 55%;
  right: 145px;
  top: 16px;
}

.navbar-avatar {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
 .search_form .form-control {
    display: none;
  }
}
