.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0em 3em 0em 3em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75%;
}
