.login-btn {
  font-family: 'Comforter', cursive;
  font-size: 64px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 5px hotpink;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sign_up_button, .login_button {
  font-weight: bolder;
  border-color: $pink;
  background-color: $pink;
  width: 75%;
  margin-bottom: 1em;
  color: white;
}

.sign_up_button:hover, .login_button:hover {
  border-color: $pink;
  color: $pink;
  font-weight: bolder;
  background-color: white;
}

.login, #sign-up {
  background-image: linear-gradient(rgba($pale-red, .2), rgba($pale-red, .2)), image-url("kitten.jpg") !important;
  background-position: center;
  background-size: cover;
  padding: 70px 0 70px 0;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  .input-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 13px;
    margin-top: 50px;
    height: 100%;
  }
  input {
    border-radius: 13px;
  }
}
